$color_darkgrey: #40403E;
$color_grey2: #313130;
$color_lightgrey: #969BA3;
$color_lightgrey2: #757779;
$color_dirtywhite: #E0E0E0;
$color_dirtygreygreen: #6D7578;
$color_asphalt: #ACAFB1;
$color_red: #F44336;
$color_yellow: #f8ee90;
$color_lightblue:#8192B3;
$color_dirtywhite: #E0E0E0;
$color_sand: #D3BD9F;
// $color_yellow: #E0E0A9;
$color_lightpink: #D6C2DC;
$color_lightgreen: #CADAB0;
$color_mgreen: #83ad3f;
$color_dargreen: #628032;
$color_brown: #614230;
$color_boxshadow: #515557;

// SIMBA 
$color_peach: #ce7951; 
$color_paleYellow:  #ddbd52;

// DOG 

$color_white: #fff;
