@import "colores.scss";

.palette {
    display: block;
    position: fixed;
    top: 40%;
    left: 10px;
    height: 300px;
    width: 50px;
    border: 1px solid $color_darkgrey;
    box-shadow: 5px 5px $color_darkgrey;
    transform: translateY(-50%);
    overflow-x: hidden;
    overflow-y: auto;
  }

  #palette_position
  {
    display: none;
    position: relative;
    width: 50px;
    z-index: 3; 
    float: left;
  }

  #palette_close {
    left: 60px;
    top: 20%;
    position: fixed;
    font-size: 50px;
    line-height: 1;
    cursor: pointer;
}

  canvas {
      position: relative;
      width: 100%;
      background: transparent;
  }

  .structure {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    width: 3rem;
    @extend .tool;
  }
  
  .col {
    cursor: pointer;
    width: 4rem;
    height: 2.4rem;
    @extend .tool;
  }
  
  .toolbar {
    display: flex;
    width: 744px;
    margin: 1rem auto;
  }

  .tool {
    transition: all 0.3s;
    z-index: 1;
    &:hover {
      transform: scale(1.4);
      z-index: 2;
    }
  }

  .palette_menu {
    z-index: 10;
    position: fixed;
    bottom: 35%;
    left: 10px;
    color: $color_darkgrey;
    width: 50px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    background: $color_dirtywhite;
    transition: opacity .4s;
    box-shadow: 5px 5px $color_boxshadow;
  }
  
  ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  li a {
    padding: 5px;
    color: $color_darkgrey;
    text-decoration: none;
    transition: all .2s;
  }
  li a:hover,
  li a:focus {
    background: $color_lightgrey;
    color: $color_dirtywhite;
  }