@import "colores.scss";
@import "pixelart.scss";
@import "colored_pixelart.scss";
@import "keyframes.scss";
@import "menu.scss";
@import "register.scss";
@import "painting.scss";

$size-half: 50%;

* {
    margin: 0 auto;
}

body {
    background-color: $color_asphalt;
}

.wrapper {
    display: block;
    margin: 0 auto;
    max-width: 190vw;
    height: 100%;
}

.sky, .land {
    display: block;
    height: 50vh;
    width: 100%;
    margin: 0 auto;
}

.sky {
    background-color: $color_lightgrey;
}

.land {
    z-index: 2;
    position: absolute;
    background-color: $color_dirtygreygreen;
}

.building_block {
    z-index: 3;
    display: none;
    left: 40px;
    top: 30%;
    position: fixed;
    max-width: 80%;
    transform: translateY(-50%);
}

.tree_block {
    display: none;
    position: absolute;
    z-index: 3;
    top: 20%;
}
.forest {
    display: block;
    width: 100%;
}

body > div.wrapper > div.sky > div:nth-child(2) {
    right: 20%;
}

body > div.wrapper > div.sky > div:nth-child(3) {
    right: 35%;
}

body > div.wrapper > div.sky > div:nth-child(4) {
    right: 50%;
}

audio {
    max-width: 100%;
    margin-top: 20px;
}

.btn_start_block{
    margin: 0 auto;
    display: block;
    position: absolute;
    top: $size-half;
    left: $size-half;
    > .btn_start {
        z-index: 3;
        position: absolute;
        border-radius: 50%;
        background-color: $color_dirtywhite;
        border: 1px solid transparent;
        display: block;
        width: 10vw;
        height: 10vw;
        cursor: pointer;
        transform: translate(-50%, -50%);
        font-size: 15px;
        text-align: center;
        -webkit-clip-path: polygon(50% 100%, 100% 35%, 75% 0, 25% 0, 0 35%);
        clip-path: polygon(50% 100%, 100% 35%, 75% 0, 25% 0, 0 35%);
        transition-duration: 0.5s;
        transition: all 0.5s ease;
    }
}

.btn_start:hover {
    background-color: $color_darkgrey;
    color: $color_dirtywhite;
}

#user-window {
    z-index: 3;
    position: fixed;
    border-radius: 2%;
    display: none;
    margin-right: 2vw;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    max-width: 20%;
    max-height: 50%;
    background: $color_dirtywhite;
    border: 1px solid #aaa;
    box-shadow: 5px 5px $color_boxshadow;

  }

#user_close {
    position: absolute;
    top: -35px;
    right: -30px;
    font-size: 50px;
    line-height: 1;
    cursor: pointer;
}


.card-container {
    display: block;
    width: 100%;
    text-align: center;
}

.info {
    color: $color_darkgrey;
    > .level {
        padding:5px 0; 
        text-align:center; 
        font-weight:normal;
        font-size: 20pt;
    }
    > .name {
        padding:5px 0; 
        text-align:center; 
        font-weight:normal;
    }
    > .role, .location {
        padding:2px 0; 
        text-align:center;
    }
    > .my-profile:hover + .info {
        right:15px;
    }

}
.energy {
    margin-top: 2vh;
    div {
        margin-top: 1vh;
        overflow:hidden; 
        width:90%; 
        height:1vh; 
        border-radius:5%; 
        box-shadow:2px 1px 7px rgba(0,0,0,0.2);
        span {
            display:block; 
            height:100%; 
        }
        span.html {
            width:90%; 
            background:$color_red; 
        }
    }
}

.popup_window {
    z-index: 3;
    position: fixed;
    display: none;
    margin: 0 auto;
    left: 40%;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 80%;
    background: $color_dirtywhite;
    border: 1px solid $color_dirtygreygreen;
    box-shadow: 0  3px 15px 5px $color_darkgrey;
}
    
.x-close {
    font-size: 50px;
    line-height: 1;
    float: right;
    margin-right: 12px;
    cursor: pointer;
    padding-left: 15px;
}

.history_text, .rules_text {
    display: block;
    font-size: 22pt;
    margin: 20px;
}


#user-window > embed {
    margin-top: 20px;
    display: block;
    width: 100%;
}

.moon {
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    background: $color_dirtywhite;
    font-size: $pixel-size;
    border-radius: 50px;
    left: 50%;
    top: 10%;
    margin: 0 -50px;
    z-index: 1;
    animation: rising-sun 15s ease infinite;
}

@media screen and (max-width: 1400px){
    #building > img {
        max-width: 50%;
    }
    #user-window {
        min-height: 40%;
    }
    #user-window > div.card-container > div.info p {
        font-size: 10pt;
    }
}