@import "colores.scss";

$pixel-size: 8px;
$big-pixel-size: 20px;
$forest-pixel: 12px;

$pixel-art: (
  moon: (
    (tr tr tr tr tr dg dg dg dg dg tr tr tr tr tr)
    (tr tr tr dg dg dg dg dg dg dg dg dg tr tr tr)
    (tr tr dg dg dg dg dg dg dg dg dg dg dg tr tr)
    (tr dg dg dg dg dg dg dg dg dg dg dg dg dg tr)
    (tr dg dg dg dg dg dg dg dg dg dg dg dg dg tr)
    (dg dg tr tr tr dg dg dg dg dg tr tr tr dg dg)
    (dg dg dg tr dg dg dg dg dg dg dg tr dg dg dg)
    (dg dg dg tr dg dg dg dg dg dg dg tr dg dg dg)
    (dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg)
    (dg dg dg dg dg dg tr tr tr dg dg dg dg dg dg)
    (tr dg dg dg dg tr dg dg dg tr dg dg dg dg tr)
    (tr dg dg dg tr dg dg dg dg dg tr dg dg dg tr)
    (tr tr dg dg dg dg dg dg dg dg dg dg dg tr tr)
    (tr tr tr dg dg dg dg dg dg dg dg dg tr tr tr)
    (tr tr tr tr tr dg dg dg dg dg tr tr tr tr tr)
  ),
  house: (
    (tr tr tr tr tr tr tr tr tr tr tr tr tr tr tr tr tr tr)
    (tr tr tr tr tr lg lg tr tr tr tr tr tr tr tr tr tr tr)
    (tr tr tr tr tr lg lg tr tr tr tr tr tr tr tr tr tr tr)
    (tr tr tr tr dg dg dg dg dg dg dg dg dg dg tr tr tr tr)
    (tr tr tr dg dg dg dg dg dg dg dg dg dg dg dg tr tr tr)
    (tr tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg tr tr)
    (tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg tr)
    (tr tr lg lg lg lg lg lg lg tr tr tr dg tr dg tr tr tr)
    (tr tr dg g2 dg dg g2 g2 dg tr tr tr dg tr dg tr tr tr)
    (tr tr lg g2 lg lg g2 g2 lg tr tr tr dg tr dg tr tr tr)
    (tr tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg tr tr)
    (tr tr lg lg lg lg lg lg lg tr dg tr dg tr dg tr tr tr)
    (tr tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg tr)
    (tr tr lg lg lg lg lg lg lg lg lg lg lg lg lg lg lg lg)
  ),
  stranger: (
    (tr dg dg lg tr tr tr tr dg dg tr tr tr dg dg dg tr tr tr dg dg tr tr)
    (tr tr dg dg tr tr tr dg dg lg tr tr tr lg dg dg tr tr tr dg dg tr dg)
    (tr lg dg dg dg tr tr lg dg dg tr tr tr dg dg lg tr tr tr tr dg tr dg)
    (tr tr tr dg dg lg tr dg dg dg lg tr tr tr dg dg lg tr tr lg dg dg tr)
    (tr tr lg lg dg dg lg dg dg lg lg tr tr lg dg dg dg lg tr dg dg dg lg)
    (tr lg lg dg dg dg dg dg dg dg lg lg lg dg dg lg dg dg lg dg dg dg tr)
    (lg lg dg dg dg lg dg dg dg dg dg dg dg dg lg dg lg dg dg dg dg dg lg)
    (tr lg dg dg lg lg lg dg dg dg lg lg lg dg dg lg dg dg lg dg dg dg lg)
  ),
  forest: (
    (tr tr tr tr tr tr tr tr tr tr tr tr tr tr tr tr tr)
    (tr tr tr tr tr tr tr tr dg tr tr tr tr tr tr tr tr)
    (tr tr tr tr tr tr tr dg dg dg tr tr tr tr tr tr tr)
    (tr tr tr tr tr tr dg dg dg tr dg tr tr tr tr tr tr)
    (tr tr tr tr dg dg dg dg dg dg dg dg dg tr tr tr tr)
    (tr tr tr dg dg dg dg dg dg dg dg tr dg dg tr tr tr)
    (tr tr dg dg dg dg dg dg dg dg dg dg dg dg dg tr tr)
    (tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg tr)
    (tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg tr)
    (dg tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg)
    (tr dg dg dg dg dg dg dg dg dg dg dg dg dg dg dg tr)
    (tr tr dg dg dg dg dg dg dg dg dg dg dg dg dg tr dg)
    (tr tr dg g2 dg dg dg dg dg dg dg g2 dg dg tr dg tr)
    (tr tr tr dg g2 dg dg dg dg dg g2 dg dg dg dg dg tr)
    (tr tr tr dg g2 g2 dg dg dg g2 g2 dg dg tr dg tr tr)
    (tr tr tr tr dg g2 dg dg dg g2 dg dg g2 dg tr tr tr)
    (tr tr tr tr tr dg g2 dg g2 dg dg g2 dg tr tr tr tr)
    (tr tr tr tr tr tr g2 g2 g2 g2 g2 tr tr tr tr tr tr)
    (tr tr tr tr tr tr tr g2 g2 g2 g2 tr tr tr tr tr tr)
    (tr tr tr tr tr tr tr tr g2 g2 tr tr tr tr tr tr tr)
    (tr tr tr tr tr tr tr g2 g2 g2 tr tr tr tr tr tr tr)
    (tr tr tr tr tr tr tr tr g2 g2 g2 tr tr tr tr tr tr)
    (tr tr tr tr tr tr tr tr g2 g2 tr tr tr tr tr tr tr)
    (tr tr tr tr tr tr g2 g2 g2 g2 tr tr tr tr tr tr tr)
    (tr tr tr tr g2 g2 g2 g2 g2 g2 g2 g2 g2 tr tr tr tr)
    (tr tr tr tr g2 tr g2 g2 tr g2 g2 tr g2 tr tr tr tr)
  )
);

$pixel-color-map: (
  'lg': $color_lightgrey2,
  'dg': $color_darkgrey,
  'g2': $color_grey2,
  'tr': transparent,
  'as': $color_asphalt,
  'y': $color_yellow,
  'p': #D6C2DC,
  'g': #CADAB0,
);

@function pixelize($matrix, $size){
  $l: length($matrix);
  $sh: '';
  $i: $l;

  @for $i from 1 through $l{
    $row: nth($matrix,$i);

    @for $j from 1 through length($row){
        $item: nth($row,$j);

        @if map-has-key($pixel-color-map, $item) {
          $sh:  $sh + ($j*$size) + ' ' + ($i*$size) + ' ' + map-get($pixel-color-map, $item);
        } @else {
          @warn 'there is no color specified in "$pixel-color-map" for: "#{$item}"';
        }

      @if not ($j == length($row) and $i == $l) {
        $sh: $sh + ',';
      }
    }
  }

  @return unquote($sh);
}

@mixin style-item($matrix, $size){

&:after{
  content: '';
  position: absolute;
  top: (-$size);
  left: (-$size);
  width: $size;
  height: $size;
  box-shadow: pixelize($matrix,$size);
}
}

.pixel-art{
list-style: none;
margin: auto;
padding: 0;
text-align: center;
width: 100%;

 @each $key, $value in $pixel-art{
  &--#{$key}{
    @include style-item($value, $pixel-size);
  }
}
}
.big-pixel-art{
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 100%;
  
   @each $key, $value in $pixel-art{
    &--#{$key}{
      @include style-item($value, $big-pixel-size);
    }
  }
  }

.forest-pixel-art{
  list-style: none;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 100%;
  
   @each $key, $value in $pixel-art{
    &--#{$key}{
      @include style-item($value, $forest-pixel);
    }
  }
  }

  // #tree1 {
  //   cursor: pointer;
  //   width: 100px;
  //   height: 100px;
  //   background: red;
  // }